{% extends('::base.html.twig') %}

{% block box_title %}Central de Mensagens{% endblock %}

{% block box_content %}
    <div class="span11">
        <div class="span3" style="margin-right: 20px">
            <div class="row span">
                <select class="span3">
                    <option>Conversas</option>
                    <option>Planejamento</option>
                    <option>Contratos</option>
                    <option>Usuários</option>
                    option
                </select>
            </div>
            <div class="jqGrid_container span3 marginBottom">
                <table id="grid" class="grid"></table>
            </div>
        </div>
        <div class="span7">
            <div class="row span7" style="border: 1px solid #BBBBBB; background: #FFFFFF; height: 280px; margin-left: 0">
                Mensagens
            </div>
            <textarea class="row span7" style="height:25px;min-height: 25px"></textarea>
            <button class="btn btn-primary" style><i class="icon-play icon-white"></i>&nbsp;&nbsp; Enviar</button>
            <button class="btn btn-danger" style><i class="icon-trash icon-white"></i>&nbsp;&nbsp; Limpar</button>
        </div>
    </div>
{% endblock %}

{% block box_javascripts %}
    <script>

        $(document).ready(function() {

            $("input").val('');

            $("#grid").jqGrid({

                url:'{{ path('fase_contrato_search') }}',
                datatype: "json",
                colNames:[
                            'Destinatário',
                            'Ação'
                ],
                colModel:[
                    {name:'nome',    index:'g.nome', width:50},
                    {name:'Acao',    index:'Acao', width:20, align:"center"}
                ],
                scrollOffset: 0,
                forceFit:true,
                hidegrid: false,
                height: '330',
                autowidth: true,
                shrinkToFit: true,
                viewrecords: true,
                sortname: 'g.nome',
                sortorder: "asc",
                rowNum: 11,
                loadComplete: function() {
                    var hasParams = false;
                    for (var i in $('#grid').getGridParam('postData')){
                        if (i != '_search' &&
                            i != 'nd' &&
                            i != 'rows' &&
                            i != 'page' &&
                            i != 'sidx' &&
                        i != 'sord') {
                            hasParams = true;
                        }
                    }
                    if ($(this).getGridParam("records")==0 && hasParams)
                    {
                        $("#errorDialogBody").html("Nenhum registro encontrado com estes parâmetros.");
                        $("#errorDialog").modal('show');
                    }
                }
            });

            $("input").keydown( function (e)
            {
                 var key = e.charCode || e.keyCode || 0;
                 if (key == 13) {
                     $("#searchBt").trigger('click');
                 }
            });
        });

    </script>

{% endblock %}
